$white: #ffffff;
$blue: #000066;
$dark-gray: #707070;

a {
  text-decoration: none;
}


.new-button {
  color: $white;
  background-color: $blue;
  border: 1px solid $white;
  text-align: center;
  font-size: calc(16px + .25vw);
  border-radius: 35px;
  padding: calc(4px + .75vw) calc(12px + 2vw);
  font-weight: bold;
  &:hover {
    color: $blue;
    background-color: $white;
    border: 1px solid $blue;
  }
}